<div class="row">
  <div class="col-md-6">
    <p><%= t ".name", name: subject.name %></p>
    <p><%= t ".description", description: subject.description %></p>
    <p><%= t ".duration", duration: subject.duration %></p>
  </div>
  <div>
    <%= link_to "View detail", admin_subject_path(subject), class: "btn btn-primary" %>
  </div>
</div>
<hr>
