<%= provide :title, t(".title") %>
<h2><%= t ".title" %></h2>
<div class="col-md-12">
  <%= render "task_form" %>
  <hr>
  <%= link_to t(".back_to_subject"), @task.subject, class: "btn btn-primary" %>
</div>
