<%= provide :title, t("course.edit.title") %>
<% provide(:button_text, t("course.edit.submit_btn")) %>
<h1><%= t("course.edit.title") %></h1>
<div class="col-md-6">
  <%= render "course_form" %>
</div>
