<% if @search_users.present? %>
  <ul class="list-group">
    <% @search_users.each do |user| %>
      <li class="list-group-item">
        <%= check_box_tag "user", user.id, false, class: "form-check-input" %>
        <%= user.name %> | <%= user.role %>
      </li>
    <% end %>
  </ul>
  <%= hidden_field_tag :course_id, @course.id %>
<% end %>

