<%= provide :title, t("admin.courses.new.title") %>
<% provide(:button_text, t("admin.courses.new.submit_btn")) %>
<h1><%= t("admin.course.new.title") %></h1>
<div class="col-md-6">
  <%= render "course_form" %>
</div>
